.card,
a.card {
  background: $color-light;
  background-position: 0 0;
  border: none;
  outline: $border;
    outline-color: $color-splash-1;
    outline-offset: grid(-.35);
  text-align: left;
  transition: all .25s ease;

  &:hover,
  &:active,
  &:focus {
    color: initial;
    outline-color: $color-off-light;
    outline-offset: 0;
    transform: scale(1.025);
  }

  &__grid {
    padding: $padd-sm;
  }

  &__content {
    padding: calc(#{$padd} - 3px) $padd-sm $padd; // accounts for outline width and the grid

    h3 {
      color: $color-splash-1;
    }
  }

  &--feature {
    background-color: $color-splash-3;
    display: flex;
      flex-direction: column;
      justify-content: space-between;
    outline-color: $color-light;
    position: relative;

    .card__content h3 {
      color: $color-dark;
    }

    .card__image {
      background-size: cover;
      height: grid(8);
      margin-top: grid(-1);
      position: relative;
        right: -4px;
        bottom: 0;
    }

    &:hover {
      outline-color: $color-splash-3;
    }
  }

  &--date {
    display:-ms-grid;
    display: grid;
    grid-template-areas: "date" "content";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: $padd auto;

    @media screen and (min-width: $screen-tablet) {
      grid-template-areas: "date content";
      -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-rows: auto;
    }

    .card__date {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-area: date;
      justify-self: center;
      padding: $padd;

      @media screen and (min-width: $screen-tablet) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
      }

      .date {
        font-size: $h2-font-size-base;
        display: flex;
          align-items: center;
        position: absolute;
          left: grid(-.35);
          top: grid(-.35);


        @media screen and (min-width: $screen-tablet) {
          top: $padd;
        }

        &.highlight {
          color: $color-light;
          line-height: grid(2);
        }
      }

      .date__divide {
        padding: 0 $padd-xxs;

        @media screen and (min-width: $screen-desktop) {
          font-size: $h1-font-size-base;
        }
      }
    }

    .card__content {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-area: content;

      @media screen and (min-width: $screen-tablet) {
        -ms-grid-row: 1;
        -ms-grid-column: 2; 
        -ms-grid-column-span: 1;
      }
    }
  }

  &--people, a.card--people {
    color: $color-light;
    background-color: transparent;
    outline-color:transparent;
    text-align: center;

    .content {
      padding: $padd-xs;

      h3, p {
        margin: 0;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $color-light;
      outline-color: transparent;
      transform: scale(1);
    }

    img {
      border: $border;
        border-color: $color-splash-3;
        border-radius: 50%;
      height: grid(6);
      width: grid(6);
    }
  }
}
