
<footer>
  <div class="footer__container">
    <div class="footer__menu">
      <div href="/" class="footer__logo"></div>
      <h5 class="u-push-bottom--none"><a class="inverse" href="/agility">Agility</a></h5>
      <h5 class="u-push-bottom--none"><a class="inverse" href="/who-we-are">About Us</a></h5>
      <h5 class="u-push-bottom--none"><a class="inverse" href="/events">Events</a></h5>
      <h5 class="u-push-bottom--none"><a class="inverse" href="/blog">Blog</a></h5>
      <h5 class="u-push-bottom--none"><a class="inverse" href="/connect">Contact Us</a></h5>
      <div class="footer__social">
        {% include social-links.html %}
      </div>
    </div>
  </div>
</footer>
