<nav>
  <a class="nav__logo" href="/"></a>
  <input type="checkbox" id="nav__toggle">
  <label class="nav__toggle" for="nav__toggle"></label>
  <div class="nav__list">
    <div class="nav__link {% if page.url contains '/who-we-are/' %} current {% endif %}">
      <a href="/who-we-are">About Us</a>
    </div>
    <div class="nav__link  {% if page.url contains '/agility/' %} current {% endif %}">
      <a href="/agility">Agility</a>
    </div>
    <div class="nav__link  {% if page.url contains '/our-work/' %} current {% endif %}">
      <a href="/events">Events</a>
    </div>
    <div class="nav__link  {% if page.url contains '/blog/' %} current {% endif %}">
      <a href="/blog">Blog</a>
    </div>
    <div class="nav__link  {% if page.url contains '/connect/' %} current {% endif %}">
      <a href="/connect">Connect with Us</a>
    </div>
    <!-- <div class="nav__link nav__cta">
      <a href="/start-a-project" class="btn btn--cta btn--sm">Start a Project</a>
    </div> -->
  </div>
</nav>
