---
layout: default
pagination:
  enabled: true
  collection: 'posts'
---
<section class="section--light  u-center--xs ">
  <h1 class="u-push-bottom--sm">Gaslight Blog</h1>
  <h3>Want to read more about <span class="highlight">{% if page.autopages %}{{ page.autopages.display_name | capitalize }}{% endif %}</span>? Let's take a look-sy:</h3>
  {% include blog-filters.html %}
</section>

<section class="section--light  u-padded-top--sm">
  <div class="u-contained--max">
    <div class="grid grid--2">
      {% for post in paginator.posts %}
        <a href="{{ post.url }}" class="card">
          <div class="card__content">
            <p>{{ post.publish_date | date: "%m/%d/%y" }}</p>
            <h3>{{ post.post_title }}</h3>
            <p class="note">{{ post.content | strip_html | truncatewords: 50 }}</p>
            <p class="u-push-bottom--none">Read More &rarr;</p>
          </div>
        </a>
      {% endfor %}
    </div>

    {% if paginator.page_trail %}
      <div class="pagination">
        <ul>
          {% for trail in paginator.page_trail %}
            <li {% if page.url == trail.path %}class="selected"{% endif %}>
                <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}"><span>{{ trail.num }}</span></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</section>

{% capture cta-copy %}{% include  /cta/cta-newsletter.md %}{% endcapture %}
{% include call-to-action.html cta-copy=cta-copy %}
