---
layout: dark-nav
---
<section class="section--dark u-full-fold flush">
  {% include navigation.html %}
  <div class="splash-title__grid u-full-fold">
    {% include image-pane-splash-full.html image-url="../assets/img/splash.jpg" %}
    <div class="splash-title__social">
      {% include social-links.html %}
    </div>
  </div>
</section>

<section class="section--light">
  {% capture agility %}{% include  /snipets/agility-preview.md %}{% endcapture %}
  {% include image-pane.html image-url="../assets/img/agility-2.jpg" pane-align="left" pane-copy=agility %}
</section>
